name: Check File Size

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-size:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Check large files
        uses: ActionsDesk/lfs-warning@v2.0
        with:
          filesizelimit: 10485760
